/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



// My Color Pallet
$gray-100: #f4f7fa;
$charcoal-grey: #4B4B4B;
$white: #fcfcfc;
$off-white: #f8f8f8;
$pale-blue: #f3f6fb;

// Data Visualization Colors
$strong-blue: #00679e;
$raspberry: #de3c82;
$bright-cyan: #32bac9;
$vivid-orange: #f68512;



body {
  background-color: $white;
  color: $charcoal-grey;
}
.text-primary {
  color: $charcoal-grey;
}

.bg-pale-blue {
  background-color: $pale-blue;
}

.bg-raspberry {
  background-color: $raspberry;
}

.border-raspberry {
  border-color: $raspberry;
}




.chart-container, .chart {
  width: 100%;
  height: 400px;
  margin: 20px 0;
}

:host ::ng-deep .echarts-tooltip {
  border-color: #00679e !important;
}









