<div class="mx-auto max-w-7xl py-3 sm:px-6 lg:px-8">
  <div class=" py-6 sm:py-6">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">

      <div>
        <div class="sm:hidden">
          <!-- Mobile view -->
          <label for="tabs">Select a tab</label>
          <select id="tabs"
                  name="tabs"
                  class="block w-full rounded-md border-gray-300 focus:border-raspberry focus:accent-pink-600"
                  (change)="setActiveTab($event)">
            <option *ngFor="let tab of ['Bore hole patterns ', 'Temperature', 'Rainfall']"
                    [selected]="isTabActive(tab)">
              {{tab}}
            </option>
          </select>

        </div>

        <div class="hidden sm:block">
          <!-- Desktop view -->
          <nav class="isolate flex  " aria-label="Tabs">
            <a *ngFor="let tab of tabs"
               href="#"
               (click)="setActiveTab(tab); $event.preventDefault()"
               [class.text-gray-900]="isTabActive(tab)"
               [class.text-gray-500]="!isTabActive(tab)"
               class="rounded-l-lg group relative min-w-0 flex-1 overflow-hidden  py-4 px-4 text-center text-sm font-medium hover:bg-gray-50 focus:z-10"
               (click)="setActiveTab(tab)">
              <span>{{tab}}</span>
              <span aria-hidden="true" [class.bg-raspberry]="isTabActive(tab)"
                    class="absolute inset-x-0 bottom-0 h-0.5"></span>
            </a>
          </nav>
        </div>

        <!-- Placeholder content for each active tab -->
        <div class="tab-content mt-4">
          <div *ngIf="isTabActive('Bore hole patterns')">

            <form [formGroup]="form" (ngSubmit)="initialiseData(form.value)" class="bg-white my-5  rounded-lg border border-gray-200 p-6">
              <div class="mb-4">
                <label for="year" class="block text-gray-700 text-sm font-bold mb-2">Year:</label>
                <select id="year" formControlName="year" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring focus:border-blue-300">
                  <option value="" >All Years</option>
                  <option *ngFor="let year of years" [value]="year">{{year}}</option>
                </select>
              </div>

              <div class="mb-4">
                <label for="location" class="block text-gray-700 text-sm font-bold mb-2">Location:</label>
                <select id="location" formControlName="location" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring focus:border-blue-300">
                  <option value="" >All Locations</option>
                  <option *ngFor="let loc of locations" [value]="loc">{{loc}}</option>
                </select>
              </div>

              <!-- Buttons -->
              <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Update</button>
              <button type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ml-2" (click)="resetForm()">Reset</button>
            </form>





            <div class="mx-auto max-w-2xl lg:max-w-none">
              <div *ngIf="isLoadingWaterLevelStats">
                Loading borehole patterns...
              </div>

              <dl   class="mx-auto grid grid-cols-1 gap-px bg-gray-900/5 sm:grid-cols-2 lg:grid-cols-4">

                <div *ngFor="let stat of boreholeStats"
                     class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 bg-white px-4 py-10 sm:px-6 xl:px-8">
                  <dt class="text-sm font-medium leading-6 text-gray-500">{{ stat.title }}</dt>
                  <dd
                    class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">{{ stat.value }}</dd>
                </div>
              </dl>

            </div>
            <div class="mt-6">
              <ul role="list" class="grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-2 xl:gap-x-8   ">
                <li class="overflow-hidden rounded-xl border border-gray-200 p-6 bg-pale-blue ">
                  <app-borehole-vs-rainfall [inputData]="boreholeLevelVsRainfall"
                                            *ngIf="isLoadedBoreholeLevelVsRainfall"></app-borehole-vs-rainfall>
                </li>
                <li class="overflow-hidden rounded-xl border border-gray-200 p-6 bg-pale-blue">
                  <app-weather-water-levels [weatherData]="boreholeLevelVsTemperature "
                                            *ngIf="isLoadedBoreholeLevelVsTemperature"></app-weather-water-levels>


                </li>
              </ul>

              <div class="overflow-hidden mt-6 rounded-xl border border-gray-200 p-6 bg-pale-blue">
                <app-water-levels-by-month-and-year [waterLevelData]="boreholeLevelByYear"
                                                    *ngIf="isLoadedBoreholeLevelByYear"></app-water-levels-by-month-and-year>
              </div>


              <div class="overflow-hidden mt-6 rounded-xl border border-gray-200 p-6 bg-pale-blue">
                <app-borehole-table [boreholes]="boreholeCount" *ngIf="isLoadedBoreholeCount"></app-borehole-table>

              </div>


            </div>
          </div>
          <div *ngIf="isTabActive('Temperature')">

            <div class="mx-auto max-w-2xl lg:max-w-none">

              <dl  class="mx-auto grid grid-cols-1 gap-px bg-gray-900/5 sm:grid-cols-2 lg:grid-cols-2">
                <div *ngFor="let stat of tempStats"
                     class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 bg-white px-4 py-10 sm:px-6 xl:px-8">
                  <dt class="text-sm font-medium leading-6 text-gray-500">{{ stat.title }}</dt>
                  <dd class="text-xs font-medium text-gray-700">{{ stat.comparison }}</dd>
                  <dd
                    class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">{{ stat.value }}</dd>
                </div>
              </dl>

            </div>
            <div class="mt-6">
              <ul role="list" class="grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-2 xl:gap-x-8   ">
                <li class="overflow-hidden bg-pale-blue rounded-xl border border-gray-200 p-6">
                  <app-temperature-table></app-temperature-table>
                </li>
                <li class="bg-pale-blue overflow-hidden rounded-xl border border-gray-200 p-6">
                  <app-temperature-high-low-chart></app-temperature-high-low-chart>
                </li>
              </ul>

              <div>
                <app-average-temperature></app-average-temperature>
              </div>

            </div>
          </div>
          <div *ngIf="isTabActive('Rainfall')">
            <div class="mx-auto max-w-2xl lg:max-w-none">

              <dl class="mx-auto grid grid-cols-1 gap-px bg-gray-900/5 sm:grid-cols-2 lg:grid-cols-2">
                <div *ngFor="let stat of rainStats"
                     class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 bg-white px-4 py-10 sm:px-6 xl:px-8">
                  <dt class="text-sm font-medium leading-6 text-gray-500">{{ stat.title }}</dt>
                  <dd class="text-xs font-medium text-gray-700">{{ stat.comparison }}</dd>
                  <dd
                    class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">{{ stat.value }}</dd>
                </div>
              </dl>
            </div>

            <div class="mt-6">
              <ul role="list" class="grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-2 xl:gap-x-8   ">
                <li class="overflow-hidden rounded-xl border border-gray-200 p-6 bg-pale-blue">
                  <app-rainfall-by-site-chart></app-rainfall-by-site-chart>
                </li>
                <li class="overflow-hidden rounded-xl border border-gray-200 p-6 bg-pale-blue">
                  <app-rainfall-highest-lowest-by-site></app-rainfall-highest-lowest-by-site>
                </li>
              </ul>

              <div class="bg-pale-blue mt-6 rounded-xl border border-gray-200 p-6">
                <app-rainfall-average-by-site></app-rainfall-average-by-site>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
